{% extends 'base.html' %}
{% block content %}

<h1>Edit {{user.full_name}}</h1>
<form method="POST">
    <div class="form">
        <label for="first_name">First Name:</label>
            <input type="text" name="first_name" id="first_name">
        <label for="last_name">Last Name:</label>
            <input type="text" name="last_name" id="last_name">
        <label for="pro_pic">Profile Picture URL:</label>
            <input type="text" name="pro_pic" id="pro_pic">
    </div>
    <div class="submitOrCancel">
        <a class="button" href="/users">Cancel</a>
        <button type="submit">Save</button>
    </div>
</form>

{% endblock %}